/* Style for the form container */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width */
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-field-wrapper {
  width: 100%;
  max-width: 500px; /* Maximum width of the form fields */
  margin-bottom: 16px; /* Space between form fields */
}

.form-field {
  width: 100%;
}

.button-wrapper {
  width: 100%;
  max-width: 150px; /* Maximum width for the button */
  margin-top: 16px; /* Space above the button */
}

mat-icon {
  margin-left: 8px;
}
